.app.dark {
  --bg-color: #212833;

  --inverted-bg-color: #191c21;

  --primary-color: #fff;
  --secondary-color: #959eae;

  // цвета для шрифтов
  --inverted-primary-color: #4e5d78;
  --inverted-secondary-color: #4e5d7899;
}
