:root {
  --bg-color: #edeef0;

  --inverted-bg-color: #fff;

  --primary-color: #4e5d78;
  --secondary-color: #4e5d7899;

  // Цвета для шрифтов
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #959eae;
}
